In [2]:
x = 123
y = 123.45
z = '123.45'
print(x, y, z)
print(type(x), type(y), type(z))

123 123.45 123.45
<class 'int'> <class 'float'> <class 'str'>

In [3]:
z = 'The result of ' + str(x) + "+" + str(y) + "=" + str(x + y)
print(type(str(y)))
print(z)

<class 'str'>
The result of 123+123.45=246.45

In [ ]:
z = 'I am from CUC.'
print(z[0:4])

In [ ]:
print(z[0:14])
print(z[-3:])

In [ ]:
print(len(z))
print(z[0:13])
print(z[-2:])
print(z[10:13])

In [ ]:
famous_person = 'Princess Diana'
print(famous_person)
famous_person2 = famous_person.replace('Diana', 'Kate')
print(famous_person, famous_person2)
print(famous_person.split())

In [ ]:
name = 'Prince Charles'
print(name)
name = name.replace('Charles', 'William')
name = name.upper()
print(name)
print(name.find('Charles'))
print(name.find('WILLIAM'))

In [ ]:
x = 3.14
y = str(x)
print(y)
print(type(y))

In [ ]:
x = 3.14
y = str(x)
z1 = float(y)
print(z1)
z2 = int(y[0:y.find('.')])
print(z2)
print(type(z1), type(z2))

In [4]:
tuple1 = (1, 1.23, 2, 'cuc')
print(tuple1)
list1 = [1, 1.23, 2, 'cuc']
print(list1)

(1, 1.234, 2, 'cuc')
[1, 1.234, 2, 'cuc']

In [ ]:
mylist = [1, 2, 3, 5, 4]
print(sorted(mylist))

In [6]:
score_list = [1, 2, 3, 4, 5, 100]
print(score_list)
print(score_list[3])
score_list.append(50)
print(score_list)

[1, 2, 3, 4, 5, 100]
4
[1, 2, 3, 4, 5, 100, 50]

In [7]:
del(score_list[-1])
print(score_list[3:7])
print(score_list)

[4, 5, 100]
[1, 2, 3, 4, 5, 100]

In [8]:
score_list.append([1, 2, 3, 'I am from China', True])
print(score_list)

[1, 2, 3, 4, 5, 100, [1, 2, 3, 'I am from China', True]]

In [9]:
second_list = [11, 22, 33]
second_list.append([44, 55, 66])
score_list.append(second_list)
print(score_list)

[1, 2, 3, 4, 5, 100, [1, 2, 3, 'I am from China', True], [11, 22, 33, [44, 55, 66]]]

In [10]:
score_list.remove(100)
print(score_list)

[1, 2, 3, 4, 5, [1, 2, 3, 'I am from China', True], [11, 22, 33, [44, 55, 66]]]

In [ ]:
dict1 = {'Peter': 80, 'David': 90, 'Mary':100}
print(dict1)
print(dict1.keys())
print(dict1.values())
print(dict1['David'])
score_list = []
score_list.append(dict1)
print(score_list)

In [ ]:
test1 = {'Peter': 50, 'David': 60, 'Mary': 70}
assignment1 = {'Peter': 50, 'David': 70, 'Mary': 80}
score_list = []
score_list.append(test1)
score_list.append(assignment1)
print(score_list)

In [ ]:
my_set = {1, 'Hello', (1, 2, 3)}
print(my_set)
print(type(my_set))

In [ ]:
my_set = {1, 2, 2, 3, 4, 4, 5}
print(my_set)

In [ ]:
hrs_list = [30, 40, 50, 60]
rate_list = [65, 75, 65, 75]
name_list = ['John', 'Mike', 'Mary', 'Jane']
fee_list = []
for number in range(len(name_list)):
    hrs = hrs_list[number]
    rate = rate_list[number]
    fee = hrs * rate
    fee_list.append(fee)
    money_made = name_list[number] + ' makes ' + str(fee) + '.'
    print(money_made)

In [ ]:
money_list = []
money_list.append(name_list)
money_list.append(fee_list)
print(money_list)

In [ ]:
my_list = ['red', 'green', 'blue', 'orange', 'black']
index = 0
for i in my_list:
    if i == 'blue':
        print(index, 'Blue is printed.')
        index +=1
    else:
        print(index, my_list[index])
        index = index + 1
print('This is done.')

In [ ]:
import pandas as pd
df1 = pd.DataFrame({
    #Define dataframe as a dictionary object
    'Product ID': [1, 2, 3, 4],
    #Add product name and color
    'Product Name': ['T-shirt', 'Shirt', 'Jeans', 'Coat'],
    'Color': ['Blue', 'Green', 'Red', 'Trench'],
    'Units Sold': [250, 300, 180, 200]
})
print(df1)